<table class="table table-hover">
  <thead class="thead-light">
  <tr>
    <th scope="col">Test</th>
    <th scope="col">Status</th>
    <th scope="col">Actions <i class="fas fa-tools"></i></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="col">Campaign preparation</th>
    <th scope="col">{{result1}}&nbsp;<i class="fas fa-check-circle"></i></th>
    <th>
      <button (click)="Details1()" class="btn btn-outline-info" style="border-radius: 30px;">View details <i
        class="fas fa-info-circle"></i></button>
    </th>
  </tr>
  <tr>
    <th scope="col">Campaign execution</th>
    <th scope="col">{{result2}}&nbsp;<i class="fas fa-check-circle"></i></th>
    <th>
      <button (click)="Details2()" class="btn btn-outline-info" style="border-radius: 30px;">View details <i
        class="fas fa-info-circle"></i>
      </button>
    </th>
  </tr>
  <tr>
    <th scope="col">Campaign sent to backend</th>
    <th scope="col">{{result3}}&nbsp;<i class="fas fa-check-circle"></i></th>
    <th>
      <button (click)="detailsBE()" class="btn btn-outline-info" style="border-radius: 30px;">View details <i class="fas fa-info-circle"></i>
      </button>
    </th>
  </tr>
  <tr>
    <th scope="col">Result collection</th>
    <th scope="col">{{result}} &nbsp;<i class="fas fa-check-circle"></i></th>
    <th>
      <button (click)="Details3()" class="btn btn-outline-info" style="border-radius: 30px;">View details <i
        class="fas fa-info-circle"></i></button>
    </th>
  </tr>
  </tbody>
</table>
<button (click)="exportToPdf(result)" class="btn btn-primary">Export report as PDF &nbsp; <i
  class="fas fa-file-export"></i></button>
