<form

  (submit)="download()"
  [formGroup]="form"

>
  <!--  <div class="form-group">-->
  <!--    <label for="SAS_ID_CAMP">SAS_ID_CAMP</label>-->
  <!--    <input-->
  <!--      type="number"-->
  <!--      class="form-control"-->
  <!--      name="SAS_ID_CAMP"-->
  <!--     formControlName="SAS_ID_CAMP"-->


  <!--    />-->

  <!--  </div>-->
  <div class="container">
    <div class="form-group">
      <label for="MSISDN">MSISDN</label>
      <input
        class="form-control"
        formControlName="MSISDN"
        name="MSISDN"
        type="number"


      />

    </div>
    <div class="form-group">
      <label for="REWARD_TYPE">REWARD_TYPE</label>
      <input
        class="form-control"
        formControlName="REWARD_TYPE"
        name="REWARD_TYPE"
        type="text"


      />

    </div>
    <div class="form-group">
      <label for="ID_TREATMENT">ID_TREATMENT</label>
      <input
        class="form-control"
        formControlName="ID_TREATMENT"
        name="ID_TREATMENT"
        type="text"


      />

    </div>
    <div class="form-group">
      <label for="START_DATE">START_DATE</label>
      <input
        class="form-control"
        formControlName="START_DATE"
        name="START_DATE"
        type="date"


      />

    </div>
    <div class="form-group">
      <label for="END_DATE">END_DATE</label>
      <input
        class="form-control"
        formControlName="END_DATE"
        name="END_DATE"
        type="date"


      />

    </div>
    <div class="form-group">
      <label for="CUSTOMER_REF"> CUSTOMER_REF</label>
      <input
        class="form-control"
        formControlName=" CUSTOMER_REF"
        name="CUSTOMER_REF"
        type="number"


      />

    </div>
    <div class="form-group">
      <label for="CUSTOMER_TYPE"> CUSTOMER_TYPE</label>
      <input
        class="form-control"
        formControlName="CUSTOMER_TYPE"
        name=" CUSTOMER_TYPE"
        type="number"


      />

    </div>
    <div class="form-group">
      <label for="PACKAGE_ID"> PACKAGE_ID</label>
      <input
        class="form-control"
        formControlName="PACKAGE_ID"
        name="PACKAGE_ID"
        type="number"


      />

    </div>
    <div class="form-group">
      <label for="ID_SERVICE"> ID_SERVICE</label>
      <input
        class="form-control"
        formControlName="ID_SERVICE"
        name="ID_SERVICE"
        type="number"


      />

    </div>
    <div class="form-group">
      <label for="CHARGE_TYPE">CHARGE_TYPE</label>
      <input
        class="form-control"
        formControlName="CHARGE_TYPE"
        name="CHARGE_TYPE"
        type="text"


      />

    </div>
    <div class="form-group">
      <label for="MONTHS">MONTHS</label>
      <input
        class="form-control"
        formControlName="MONTHS"
        name="MONTHS"
        type="number"
      />

    </div>
    <div class="form-group">
      <label for="DISCOUNT">DISCOUNT</label>
      <input
        class="form-control"
        formControlName="DISCOUNT"
        name="DISCOUNT"
        type="number"


      />

    </div>
    <div class="form-group">
      <label for="POINTS">POINTS</label>
      <input
        class="form-control"
        formControlName="POINTS"
        name="POINTS"
        type="number"


      />

    </div>
    <div class="form-group">
      <label for=" LIMIT"> LIMIT</label>
      <input
        class="form-control"
        formControlName="LIMIT"
        name=" LIMIT"
        type="number"


      />

    </div>
    <div class="form-group">
      <label for=" PRODUCT_ID"> PRODUCT_ID</label>
      <input
        class="form-control"
        formControlName="PRODUCT_ID"
        name=" PRODUCT_ID"
        type="number"
      />

    </div>
    <div class="form-group">
      <label for="MSG_DATA"> MSG_DATA</label>
      <input
        class="form-control"
        formControlName="MSG_DATA"
        name="MSG_DATA"
        type="text"
      />

    </div>
    <div class="form-group">
      <label for="MSG_SENDER">MSG_SENDER</label>
      <input
        class="form-control"
        formControlName="MSG_SENDER"
        name="MSG_SENDER"
        type="text"
      />

    </div>
    <div class="form-group">
      <label for="CODING">CODING</label>
      <input
        class="form-control"
        formControlName="CODING"
        name="CODING"
        type="number"
      />

    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block">
        CREATE
      </button>
    </div>
    <div *ngIf="submited" class="alert alert-success">
      Marketing Campagne Created!
    </div>
  </div>

</form>
