<div class="container">

  <table class="table table-hover">
    <thead class="thead-light">
    <tr>
      <th scope="col">Iteration name</th>
      <th scope="col">Campaign Id</th>
      <th scope="col">Delivery version</th>

      <th scope="col">Delivery start date</th>
      <th scope="col">Expected delivery date</th>
      <th scope="col">Delivery goal</th>
      <th scope="col">Status</th>
      <th scope="col">Test duration</th>
      <th scope="col">Actions <i class="fas fa-tools"></i></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let test of testIterations">

      <td>{{ test.iterationName }}</td>
      <td>{{test.campagneid}}</td>
      <td>{{test.deliveryversion}}</td>
      <td>{{test.startdeliverydate}}</td>
      <td>{{test.expecteddeliverydate}}</td>
      <td>{{test.deliveryobjectif}}</td>
      <td>{{test.state}}</td>
      <td>{{test.testduration}}</td>
      <td>
        <button (click)="Run(test)"
                [disabled]="test.state == 'Finished'"
                class="btn btn-outline-success"
                title="Run test"><i class="{{runBtn}}"></i>
        </button>
      </td>
    </tr>
    </tbody>
  </table>


</div>
