<div *ngIf="!submitted">
  <div class="row">
    <div class="col">
      <div class="form-group">
        <label class="form-label" for="iterationName">Iteration name:</label>
        <input [(ngModel)]="testIteration.iterationName"
               class="form-control"
               placeholder="Iteration name"
               id="iterationName"
               name="iterationName"
               required
               type="text"/>
      </div>
      <div class="form-group">
        <label for="campagneid">Campaign id:</label>
        <input [(ngModel)]="testIteration.campagneid"
               class="form-control"
               placeholder="Campaign id"
               id="campagneid"
               name="campagneid"
               required
               type="number"/>
      </div>
      <div class="form-group">
        <label for="deliveryversion">Delivery version:</label>
        <input [(ngModel)]="testIteration.deliveryversion"
               class="form-control"
               placeholder="Delivery version"
               id="deliveryversion"
               name="deliveryversion"
               required
               type="number"/>
      </div>
    </div>
    <div class="col">
      <div class="form-group">
        <label for="expecteddeliverydate">Expected delivery date:</label>
        <input [(ngModel)]="testIteration.expecteddeliverydate"
               class="form-control"
               placeholder="yyyy-MM-dd"
               id="expecteddeliverydate"
               name="expecteddeliverydate"
               required/>
      </div>
      <div class="form-group">
        <label for="deliveryobjectif">Delivery goal:</label>
        <input [(ngModel)]="testIteration.deliveryobjectif"
               class="form-control"
               placeholder="Delivery goal"
               id="deliveryobjectif"
               name="deliveryobjectif"
               required/>
      </div>
      <div class="form-group">
        <label for="startdeliverydate">Delivery start date:</label>
        <input [(ngModel)]="testIteration.startdeliverydate"
               class="form-control"
               placeholder="yyyy-MM-dd"
               id="startdeliverydate"
               name="startdeliverydate"
               required/>
      </div>
<!--      <div class="form-group">-->
<!--        <label for="state">Status:</label>-->
<!--        <input [(ngModel)]="testIteration.state"-->
<!--               class="form-control"-->
<!--               placeholder="Status"-->
<!--               id="state"-->
<!--               name="state"-->
<!--               required/>-->
<!--      </div>-->
<!--      <div class="form-group">-->
<!--        <label for="testduration">Test duration:</label>-->
<!--        <input [(ngModel)]="testIteration.testduration"-->
<!--               class="form-control"-->
<!--               placeholder="Test duration"-->
<!--               id="testduration"-->
<!--               name="testduration"-->
<!--               required/>-->
<!--      </div>-->
    </div>
  </div>
  <center>
    <button (click)="saveTestIteration()" class="btn btn-primary btn-lg btn-block">Create</button>
  </center>
</div>

<div *ngIf="submitted">
  <h4>Test Iteration Created successfully!</h4>
  <button (click)="newTestIteration()" class="btn btn-success">Add</button>
</div>
