<div class="container">
  <form (submit)="onsubmite()" [formGroup]="form">
    <div class="form-group">
      <label for="campId">SAS_ID_CAMP</label>
      <input
        id="campId"
        class="form-control"
        formControlName="campId"
        type="number"/>
    </div>
    <div class="form-group">
      <label for="startDate">START_DATE</label>
      <input
        id="startDate"
        class="form-control"
        formControlName="startDate"
        type="text"/>
    </div>
    <div class="form-group">
      <label for="endDate">END_DATE</label>
      <input
        id="endDate"
        class="form-control"
        formControlName="endDate"
        type="text"


      />
    </div>
    <div class="form-group">
      <label for="campName">Campagne Name </label>
      <input
        id="campName"
        class="form-control"
        formControlName="campagneName"
        type="text"


      />
    </div>
    <div class="form-group">
      <button (click)="runCampagne()" class="btn btn-primary btn-block">
        RUN
      </button>
    </div>
    <div *ngIf="submited" class="alert alert-success">
      OK!
    </div>
  </form>

</div>
